.player-app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 2;
  display: flex;
  .sidebar-wrapper {
    width: 30%;
    height: 100%;
    background-color: red;
  }
  .main-player-container {
    width: 100%;
    height: 100%;
    background-color: yellow;
  }
}