.category-content-wrapper {
  position: relative;
  border-top: 1px solid white;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  &.hide-overflow {
    overflow-y: hidden;
  }
  .in-app-loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.056);
  }
  .no-content {
    height: 100%;
    width: 100%;
    background-image: url('https://i.imgur.com/JcImM53.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .search-container {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 40%;
      max-width: 450px;
      padding: 7px 15px;
      outline: none;
      border: 1px solid white;
      border-radius: 15px;
      color: white;
      font-size: 1rem;
      background-color: inherit;
      &::placeholder {
        color: #b7b7b7;
        font-style: italic;
        font-size: 0.9rem;
      }
    }
  }
  .card-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    grid-gap: 1rem;
    justify-content: space-evenly;
    .card-wrapper {
      position: relative;
      cursor: pointer;
      width: 170px;
      height: 200px;
      margin: 10px;
      padding: 10px 5px;
      background-color: #1a1a1ac9;
      background-repeat: no-repeat;
      text-align: center;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        background-color: #1a1a1a;
      }
      .information {
        display: none;
      }
      .live-icon {
        margin: 15px 0;
        width: 120px;
        height: 80px;
        -webkit-aspect-ratio: 96/59;
        border-radius: 8px;
        object-fit: cover;
      }
      h2 {
        font-size: 1rem;
        height: 30%;
        border-radius: 0 0 8px 8px;
      }
      &.not-live {
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: 100% 100%, 250px;
        background-position: center;
        &:hover .information {
            display: block;
            position: absolute;
            top: 5px;
            right: 5px;
            border: none;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
        h2 {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: auto;
          word-break: break-all;
          padding: 5px 10px;
          background-color: white;
          color: #1a1a1a;
        }
      }
    }
  }
}