@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Ubuntu:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a1a00;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Assets/bg.jpg') ;
  background-repeat: no-repeat;
  background-size: 100%;
  .fixed-splash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    max-height: 800px;
    min-width: 500px;
    max-width: 700px;
    border-radius: 10px;
    background-color: #1a1a1ada;
    box-shadow: -1px 1px 20px 13px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    img {
      margin: 10px;
      width: 100px;
    }
    .selection-container {
      width: 100%;
      height: 80%;
      margin: 20px 0;
      display: flex;
      justify-content: space-evenly;
      div.selection {
        height: 100%;
        width: 45%;
        border: 2px dashed white;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        button {
          font-family: 'Ubuntu', sans-serif;
          background-color: inherit;
          border: 1px solid white;
          color: white;
          width: 120px;
          height: 50px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            color: black;
            background-color: white;
            border: none;
          }
        }
      }
    }
  }
}